<html>
    <head>
        <meta charset="utf-8">
        <title>Stream info panel</title>
        <link rel="stylesheet" href="../css/info-panels.css">
    </head>

    <body>
        <aside>
            <section id="uptime">
                <header>
                    Stream uptime
                </header>

                <article>
                    1:32:06
                </article>
            </section>

            <section id="social">
                <header>
                    Facebook / Twitter
                </header>

                <article>
                    @sqee03
                </article>
            </section>

            <section id="follow">
                <header>
                    Last follower
                </header>

                <article>
                    Orgia_too_stronk_too_long_name
                </article>
            </section>

            <section id="donate">
                <header>
                    Last donate
                </header>

                <article>
                    skokan95: CZK30.00
                </article>
            </section>

            <section id="wn8">
                <header>
                    Stats
                </header>

                <article>
                    <span>WN8 Unicum</span>
                    2885+ <em>42.000 bitev</em>
                </article>
            </section>
        </aside>
    </body>
</html>