<html>
    <head>
        <meta charset="utf-8">
        <title>My Stream Animated Panels</title>
        <meta http-equiv="refresh" content="30">
        <link rel="stylesheet" href="../css/layout.css">
    </head>

    <body>
        <!-- Social media reminder -->
        <section class="container animated">
            <header>
                Social media
            </header>

            <article>
                <div id="social">
                    <image src="../images/sqee-logo.png" />
                    <p>
                        Zůstaňte v kontaktu pomocí sociálních sítí a sledujte, co se děje nového na streamu.
                    </p>
                </div>

                <div id="facebook">
                    Facebook.com/sqee03
                </div>

                <div id="twitter">
                    Twitter.com/sqee03
                </div>

            </article>
        </section>
    </body>
</html>